extends layout.pug 

block content
    div(class="main__card card")
        h1(class="card__title") Bienvenue sur notre API Backend
        p(class="card__text") Nous mettons à votre disposition une documentation Swagger détaillée.
        a(class="card__link" href='http://localhost:4000/api/docs')
            button(class="btn") Consulter
        